@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");

:root {
  --border-color: #eaeaea;
  --border-color-dark: #999999;
  --border-width: 0.0625rem;
  --button-background: #84c5f3;
  --disabled-color: rgb(204, 204, 204);
  --border-radius: 0.625rem;
  --header-background-color: #d4707a;
}

#body {
  display: grid;
  grid-template-rows: min-content auto min-content;
}

.header__navigation,
.footer__navigation {
  display: flex;
  flex-direction: row;
  padding: 1.1rem;
}

.list__footer-item__link {
  color: darkslategray;
  text-decoration: none;
}

.header__navigation {
  background: var(--header-background-color);
}

.list__header-item__link {
  text-decoration: none;
}

.navigation__list {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.list__header-item,
.list__footer-item {
  list-style-type: none;
  padding: 0rem 1rem;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #dddddd;
}

.main-content__board {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.main-content__button {
  background-color: white;
  color: black;
  cursor: pointer;
  margin: 1.25rem;
  padding: 1rem 3rem;
  border-radius: var(--border-radius);
}

.link {
  color: white;
  text-decoration: none;
}

.link--disabled::before {
  padding: 0 0.375rem;
  color: var(--disabled-color);
  content: "/ ";
}

.board__row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.board__row .row__item {
  padding: 2.1rem;
}

.board__row:nth-child(even) .row__item:nth-child(odd) {
  background-color: black;
}

.board__row:nth-child(even) .row__item:nth-child(even) {
  background-color: white;
}

.board__row:nth-child(odd) .row__item:nth-child(odd) {
  background-color: white;
}

.board__row:nth-child(odd) .row__item:nth-child(even) {
  background-color: black;
}

.has-red-piece,
.has-white-piece {
  background-size: cover;
}

.has-red-piece {
  background-image: url(./../img/red-piece.png);
}

.has-white-piece {
  background-image: url(./../img/white-piece.png);
}
