@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");

:root {
  /* Palette */
  --dark-gray: #161b22;
  --light-gray: #0d1117;
  --white: #f0f6fc;
  --green: #2ea44f;
  --pure-black: #000;
  --pure-white: #fff;

  /* Borders */
  --border-color: var(--dark-gray);
  --border-width: 0.0625rem;
  --border-radius: 0.625rem;

  /* Background colors*/
  --background-color: var(--light-gray);
  --header-background-color: var(--dark-gray);
  --button-background-color--primary: var(--green);

  /* Font */
  --font-color: var(--white);
  --font-size: 16px;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-bold: 600;

  /* Spacing */
  --spacing-factor: 0.5rem;
  --spacing--sm: calc(var(--spacing-factor) * 1);
  --spacing--md: calc(var(--spacing-factor) * 2);
  --spacing--lg: calc(var(--spacing-factor) * 3);
  --spacing--xlg: calc(var(--spacing-factor) * 4);

  /* Transitions */
  --transition-speed-fast: 0.1s;
  --transition-speed-medium: 0.4s;
  --transition-speed-slow: 0.7s;

  /* Opacity */
  --opacity-low: 0.3;
  --opacity-medium: 0.5;
  --opacity-full: 1;

  /* Shadow */
  --box-shadow-sm: #f0f6fc1a 0px 4px 6px -1px, #f0f6fc0f 0px 2px 4px -1px;

  /* Breakpoints */
  --bp-xl: 1200px;
  --bp-lg: 1024px;
  --bp-md: 768px;
  --bp-sm: 480px;

  /* Tile size */
  --min-tile-size: 2.5rem;
  --max-tile-size: 5rem;
  --preferred-tile-size: 10vw;
}

#body {
  display: grid;
  grid-template-rows: min-content auto min-content;
  background-color: var(--background-color);
  color: var(--font-color);
  font-size: var(--font-size);
}

.header__navigation,
.footer__navigation {
  display: flex;
  flex-direction: row;
  padding: var(--spacing--md);
}

.list__footer-item__link {
  color: var(--font-color);
  text-decoration: none;
}

.header__navigation {
  background: var(--header-background-color);
}

.footer__navigation {
  border-top: var(--border-width) solid var(--border-color);
}

.list__header-item__link {
  text-decoration: none;
}

.navigation__list {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.list__header-item,
.list__footer-item {
  list-style-type: none;
  padding: 0 var(--spacing--md);
  transition: opacity var(--transition-speed-medium);
}

.list__header-item:hover,
.list__footer-item:hover {
  opacity: var(--opacity-medium);
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-area__board {
  display: flex;
  flex-direction: column;
  margin-top: var(--spacing--md);
  box-shadow: var(--box-shadow-sm);
}

.game-area__button {
  background-color: var(--button-background-color--primary);
  color: var(--font-color);
  cursor: pointer;
  font-family: inherit;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size);
  margin: var(--spacing--lg);
  padding: var(--spacing--md) var(--spacing--xlg);
  border-radius: var(--border-radius);
  transition: opacity var(--transition-speed-medium);
}

.game-area__button:hover {
  opacity: var(--opacity-medium);
}

.link {
  color: var(--font-color);
}

.board__row {
  display: grid;
  grid-auto-flow: column;
}

.board__row .row__tile {
  display: flex;
  flex-direction: row;
  height: clamp(
    var(--min-tile-size),
    var(--preferred-tile-size),
    var(--max-tile-size)
  );
  width: clamp(
    var(--min-tile-size),
    var(--preferred-tile-size),
    var(--max-tile-size)
  );
}

.board__row:nth-child(odd) .row__tile:nth-child(odd),
.board__row:nth-child(even) .row__tile:nth-child(even) {
  background-color: var(--pure-white);
}

.board__row:nth-child(even) .row__tile:nth-child(odd),
.board__row:nth-child(odd) .row__tile:nth-child(even) {
  background-color: var(--pure-black);
}

.checker--red,
.checker--white {
  aspect-ratio: 1/1;
  max-width: 100%;
  max-height: 100%;
}
